{% extends 'base.html' %}
{% block content %}

<form action="/validate" method="post">
    <label>
        Username
        <input type="text" name="username"/>
    </label>
    {% if username_error %}
        <span class='error'>{{username_error}}</span>
    {% endif %}
    <br>
    <label>
        Password
        <input type="password" name="password"/>
    </label>
    {% if password_error %}
        <span class='error'>{{password_error}}</span>
    {% endif %}
    <br>
    <label>
        Verify Password
        <input type="password" name ="password-v"/> 
    </label>
    <br>
    <label>
        Email (optional)
        <input type="text" name="email"/>
    </label>
    <br>
    <input type="submit" value="Submit"/>
</form>




{% endblock %}